// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

//@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

body {
    color: #fff;
    font-family: -apple-system,system-ui,Helvetica Neue,Helvetica,Arial,Segoe UI,Roboto,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.app-slider {   
    width: 100%;
    position: relative;
    overflow-x: hidden;    
}

.swiper {  
    padding-bottom: 48px;
    padding-top: 48px;
    width: 100%;
    height: 280px; 
}

.swiper-pagination {
    bottom: -10px;
    --swiper-pagination-bullet-inactive-color: #fff;
    --swiper-pagination-color: #fff
}

.slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}


